<table>
  <tr>
    <td>
      <div align="center">
        <span style="color: green; font-weight: bold; font-size: 28px;">
          Design and Implementation of an Online Store Database
        </span>
      </div>
    </td>
    <td style="width: 150px;">
      <img src="logo.png" alt="Logo" width="120" style="background: none;">
    </td>
  </tr>
</table>

<div align="center">
  <span style="color: orange; font-weight: bold; font-size: 20px;">
    Ahmad Ahmadi
  </span>
</div>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [2]:
from sqlalchemy import create_engine

# اطلاعات اتصال (جایگزین کن با مقادیر واقعی)
user = "postgres"
password = "1013"
host = "localhost"
port = "5432"
database = "djkala"
schema="Dj"

engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")

## Order

In [4]:
order = pd.read_csv("orders.csv")

In [6]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Order               200000 non-null  int64
 1   ID_Customer            200000 non-null  int64
 2   ID_Item                200000 non-null  int64
 3   DateTime_CartFinalize  200000 non-null  object
 4   Amount_Gross_Order     200000 non-null  float64
 5   city_name_fa           200000 non-null  object
 6   Quantity_item          200000 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 10.7+ MB

In [5]:
order.head()

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982.0,محمود آباد,1.0
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000.0,خرمدره,1.0
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358.0,قرچک,1.0
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514.0,قم,1.0
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028.0,تهران,1.0

In [8]:


order['DateTime_CartFinalize'] = pd.to_datetime(order['DateTime_CartFinalize'])

In [10]:
order.to_csv('/Users/Ahmad/project8/extracted/order.csv')

In [28]:
# اگر جدول وجود نداشته باشد ساخته می‌شود
order.to_sql("order", engine, if_exists="replace", index=False)

1000

## Product

In [11]:
product=pd.read_excel("product.xlsx")

In [14]:
product=product.drop(['product_title_en'], axis=1)

In [15]:
product.head()

,id,product_title_fa,url_code,title_alt,category_title_fa,category_keywords,brand_name_fa,brand_name_en,product_attributes
0,723302,ماگ حرارتی لومانا مدل عرفانه کد MAG1042,ماگ-حرارتی-لومانا-مدل-عرفانه-کد-mag1042,mug، لیوان ، ماگ ، فنجان ، لیوان دسته دار ، لو...,ماگ، لیوان و فنجان,ماگ، لیوان و فنجان CupandMug,لومانا,Lomana,"[{""Key"":""وزن بسته‌بندی"",""Value"":""480""},{""Key"":..."
1,727089,ست آبکش و آبگیر تیتیز مدل AP-9141 سایز متوسط,ست-آبکش-و-آبگیر-تیتیز-مدل-ap-9141-سایز-متوسط,";hsi, steel, کاسه، کاسه بامبو، لگن، کالا خانه ...",آبکش و آبگیر,آبکش و آبگیر VirgoBasin,تیتیز,Titiz,"[{""Key"":""دستگیره"",""Value"":""1 جفت""},{""Key"":""نوع..."
2,727096,روغن مرطوب کننده کدلی مدل Divine oil حجم 50 می...,روغن-مرطوب-کننده-کدلی-مدل-divine-oil-حجم-50-می...,NaN,روغن صورت,روغن صورت Face-Oil,کدلی,CAUDALIE,"[{""Key"":""حجم"",""Value"":""50""},{""Key"":""نوع عصاره""..."
3,727803,ست لحاف پوپلین هوبی مدل اما یکنفره چهار تکه کاوری,ست-لحاف-پوپلین-هوبی-مدل-اما-یکنفره-چهار-تکه-کاوری,روتختی اسپرت، اما، emma، روتختی یکنفره، لحاف ی...,سرویس خواب,سرویس خواب SleepSet,هوبی,Hobby,"[{""Key"":""ابعاد رو بالشی"",""Value"":""50×70""},{""Ke..."
4,725222,ماگ آبنبات رنگی مدل AR0143,ماگ-آبنبات-رنگی-مدل-ar0143,ماگ آبنبات رنگی،شذدشذشفقشدله،Mag Abnabatrangi,ماگ، لیوان و فنجان,ماگ، لیوان و فنجان CupandMug,متفرقه,Miscellaneous,"[{""Key"":""در"",""Value"":""ندارد""},{""Key"":""جنس"",""Va..."

In [16]:
product.isnull().sum()

id                        0
product_title_fa          0
url_code                 17
title_alt             22568
category_title_fa         0
category_keywords       260
brand_name_fa             0
brand_name_en             0
product_attributes    96950
dtype: int64

In [17]:
product=product.drop(columns=['url_code', 'title_alt', 'category_keywords', 'product_attributes'])

In [18]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 100000 non-null  int64
 1   product_title_fa   100000 non-null  object
 2   category_title_fa  100000 non-null  object
 3   brand_name_fa      100000 non-null  object
 4   brand_name_en      100000 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [19]:
product.head()

,id,product_title_fa,category_title_fa,brand_name_fa,brand_name_en
0,723302,ماگ حرارتی لومانا مدل عرفانه کد MAG1042,ماگ، لیوان و فنجان,لومانا,Lomana
1,727089,ست آبکش و آبگیر تیتیز مدل AP-9141 سایز متوسط,آبکش و آبگیر,تیتیز,Titiz
2,727096,روغن مرطوب کننده کدلی مدل Divine oil حجم 50 می...,روغن صورت,کدلی,CAUDALIE
3,727803,ست لحاف پوپلین هوبی مدل اما یکنفره چهار تکه کاوری,سرویس خواب,هوبی,Hobby
4,725222,ماگ آبنبات رنگی مدل AR0143,ماگ، لیوان و فنجان,متفرقه,Miscellaneous

In [12]:
product.to_csv('/Users/Ahmad/project8/extracted/product.csv')

In [29]:
product.to_sql("product", engine, if_exists="replace", index=False)

1000

## ُSefaresh

In [14]:
sefaresh=pd.read_csv("tarikhche kharid.csv")

In [15]:
sefaresh.head()

,id,product_variant_id,selling_price,rrp_price,base_price,buy_price,order_limit,start_at,end_at,tags,show_in_price_history,active,created_at,product_id,marketplace_seller_id
0,18752043,1977385,850000,850000,\N,\N,1,\N,\N,\N,1,1,2018-11-26 18:59:52,667969,2962
1,18752022,1977380,12550000,12550000,\N,\N,2,\N,\N,\N,1,0,2018-11-26 18:59:31,150144,78525
2,18752046,1977380,12500000,12500000,\N,\N,2,\N,\N,\N,1,1,2018-11-26 18:59:55,150144,78525
3,18751982,1977374,310000,310000,\N,\N,2,\N,\N,\N,1,0,2018-11-26 18:58:48,908541,4199
4,18752018,1977374,300000,300000,\N,\N,2,\N,\N,\N,1,1,2018-11-26 18:59:28,908541,4199

In [16]:
sefaresh.isnull().sum()

id                       0
product_variant_id       0
selling_price            0
rrp_price                0
base_price               0
buy_price                0
order_limit              0
start_at                 0
end_at                   0
tags                     0
show_in_price_history    0
active                   0
created_at               0
product_id               0
marketplace_seller_id    0
dtype: int64

In [17]:
sefaresh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2184358 entries, 0 to 2184357
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     int64
 1   product_variant_id     int64
 2   selling_price          int64
 3   rrp_price              int64
 4   base_price             object
 5   buy_price              object
 6   order_limit            int64
 7   start_at               object
 8   end_at                 object
 9   tags                   object
 10  show_in_price_history  int64
 11  active                 int64
 12  created_at             object
 13  product_id             int64
 14  marketplace_seller_id  int64
dtypes: int64(9), object(6)
memory usage: 250.0+ MB

In [18]:
sefaresh['created_at']=pd.to_datetime(sefaresh['created_at'])

In [20]:
sefaresh.duplicated().sum()

0

In [21]:
sefaresh.to_csv('/Users/Ahmad/project8/extracted/sefaresh.csv')

In [30]:
sefaresh.to_sql("sefaresh", engine, if_exists="replace", index=False)

358

## Quality

In [3]:
quality=pd.read_excel("keifiat.xlsx")

In [23]:
quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   product_id           100000 non-null  int64
 1   product_title        100000 non-null  object
 2   title_en             100000 non-null  object
 3   user_id              100000 non-null  int64
 4   likes                100000 non-null  int64
 5   dislikes             100000 non-null  int64
 6   verification_status  100000 non-null  object
 7   recommend            100000 non-null  object
 8   title                96730 non-null   object
 9   comment              99883 non-null   object
 10  advantages           42241 non-null   object
 11  disadvantages        34121 non-null   object
dtypes: int64(4), object(8)
memory usage: 9.2+ MB

In [30]:
quality.isnull().sum()

product_id                 0
product_title              0
title_en                   0
user_id                    0
likes                      0
dislikes                   0
verification_status        0
recommend                  0
title                   3270
comment                  117
advantages             57759
disadvantages          65879
dtype: int64

In [4]:
quality=quality.drop(columns=['title','comment', 'advantages', 'disadvantages'])

In [5]:
quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   product_id           100000 non-null  int64
 1   product_title        100000 non-null  object
 2   title_en             100000 non-null  object
 3   user_id              100000 non-null  int64
 4   likes                100000 non-null  int64
 5   dislikes             100000 non-null  int64
 6   verification_status  100000 non-null  object
 7   recommend            100000 non-null  object
dtypes: int64(4), object(4)
memory usage: 6.1+ MB

In [25]:
quality.head()

,product_id,product_title,title_en,user_id,likes,dislikes,verification_status,recommend
0,3692,ماوس بی‌سیم لاجیتک مدل M325,IT,989472,0,0,verified,\N
1,90213,شارژر همراه شیاومی مدل NDY-02-AN با ظرفیت 1000...,AC,3862150,4,1,verified,recommended
2,59473,یدک پولیشر میکروفایبر مهسان مدل 20119,HW,626843,1,0,verified,not_recommended
3,120499,گوشی موبایل هوآوی آنر مدل 5X KIW-L21 دو سیم‌کارت,MO,786887,6,11,verified,no_idea
4,67200,شارژر همراه شیائومی مدل Mi ظرفیت 5000 میلی آمپ...,AC,854531,19,4,verified,no_idea

In [26]:
quality.to_csv('/Users/Ahmad/project8/extracted/quality.csv')

In [6]:
quality.to_sql("quality", engine, if_exists="replace", index=False)

1000